<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Signup</h2>

            <form action="/signupp" method="POST">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control " name="name" placeholder="enter name" required>
                     <div class="form-group">
                        <label>Surname</label>
                        <input type="text" class="form-control " name="surname" placeholder="enter surname" required>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control " name="email" placeholder="enter email" required>
                    </div>
                    <div class="form-group">
                        <label>Phone number</label>
                        <input type="number" class="form-control " name="phoneno" placeholder="enter number" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="password" required>
                    </div><br>
                    <a href="/login">Alredy have account</a>
                    <button type="submit" class="btn btn-primary float-right">Signup</button>
            </form>
        </div>

    </div>
</div>